@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head {
    background: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.63)),url(../img/piotr-chrobot-6oUsyeYXgTg-unsplash.jpg);
    height: 95vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.head h1{
    font-weight: 400;
    color: white;
}
li.firstpage a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}
li.firstpage{
    display: inline-block;
    margin-left: 3em;
}
.navig img {
    float: left;
    
}
.navig ul.nbar{
    float: right;
    margin-top: 1.8em;
}
.clear {
    clear: both;
}
.navig{
    padding-top: 1.5em;
    max-width: 85%;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
li a:hover{
    padding-bottom: 0.2em;
    border-bottom: 1px solid white;
    
}
/* utility class */
.redcolor{
    color: red;
}
.whitecolor{
    color: white;
}
.bluecolor{
    color: rgb(14, 181, 247);
}
.headingmedium{
    font-size: 1.6 rem;
}
.headingbar{
    height: 27%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
.bottombar{
    font-size: 1.4rem;
    border:1px solid white;
    background-color: white;
    border-radius: 100px;

}
.button{
    padding: 0.8em;
    text-decoration: none;
    font-weight: 500;
}
h1.topbar{
    margin: 1.2em;
    letter-spacing: 0.15rem;
    font-weight: 700;
}
.middlebar{
    margin: 2.5em 2.5em 2.5em 2.5em;
}
.middlebar {
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.row{
    width: 100%;
    height: 350px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.438) ;
}
.showcase{
    padding: 10rem 10rem;
    background-color: #ddd;
}
.row1{
    margin-bottom: 10rem;
}
.row1 .image-box,.row2 .text-box {
    float: right;
    width: 50%;
}
.row1 .text-box,.row2 .image-box{
    width: 50%;
    float: left;
}
.clear{
    clear: both;
}
.image-box{
    height: 100%;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-box{
    height: 100%;
    padding: 3.5rem;
    background-color: white;
}
.text-box h1{
    font-size: 2.8rem;
    margin-bottom: 3rem;
}
.text-box p{
    letter-spacing: 0.2em;
    line-height: 2em;
    padding-bottom: 2.5REM;
}
.text-box a{
    text-decoration: none;
    color: red;
    font-size: 1.2rem;
    padding: 0.5em;
    border: 1px solid red;
    border-radius: 100px;
    background-color: whitesmoke;
}
.feature{
    margin: 10rem;
}
.container2{
    box-shadow: 0px, 0px, 20px, 5px rgba(0, 0, 0, 0.534);
}
.tox{
    width: 33.33%;
}
.adventure{
    float: left;
    background: linear-gradient(rgb(0, 9, 88),rgba(0, 9, 88, 0.829));
}
.payless{
    float: right;
    background: linear-gradient(rgb(0, 9, 88),rgba(0, 9, 88, 0.829));
}
.experience{
    float: right;
    background-color: rgb(250, 0, 83);
    background: linear-gradient(rgb(253, 0, 0),rgba(252, 0, 0, 0.644));
}
.tox h2{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin: 2.5rem;
    text-align: center;
    color: white;
}
.tox p{
    font-size: 1.2rem;
    text-align: center;
    padding: 0rem 2.5rem 2.5rem 2.5rem;
    margin-bottom: 1.5em;
    letter-spacing: 0.1rem;
    color: white;
}
.foot{
    background-color: #263238;
    text-align: center;
}
ul.links{
    padding-top: 2rem;
    padding-bottom: 1.2rem;
}
.foot p{
    color: white;
    padding-left: 1.5rem;
    padding-bottom: 5rem;
    font-weight: 500;
    letter-spacing: 0.1em;
}
.navig2{
    background-color: #263238;
    padding-left: 9.5rem;
    padding-right: 11rem;
    padding-top: 1.5rem;
}
li.secpage{
    display: inline-block;
    margin-left: 3em;
}
.navig2 img {
    float: left;
    
}
.navig2 ul.nbar2{
    float: right;
    margin-top: 1.8em;
}
li.secpage a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}
.mainheadabout h1{
    letter-spacing: 0.2rem;
    font-size: 2.0rem;
}
.mainheadabout{
    margin-left: 9.3rem;
    margin-right: 10rem;
    padding-bottom: 0.8rem;
    margin-top: 5rem;
}
.abh::after{
    content: "";
    display: block;
    border: 4px solid rgb(216, 68, 68);
    width: 100%;
    
}
.aboutdesc{
    margin-left: 9.3rem;
    margin-right: 10rem;
    margin-top: 0.8rem;
}
.aboutdesc p{
    font-size: 1.2em;
    line-height: 1.8rem;
    font-weight: 300;
}
.aboutlist{
    margin-left: 9.3rem;
    margin-right: 10rem;
    margin-top: 1.5rem;
}
.list{
    width: 50%;
    text-align: center;
}
.list1{
    float: left;
}
.list2{
    float: right;
}
.list ul li{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
    list-style: none;
}
.list ul li::before{
    content: '\2713';
    color: rgb(216, 68, 68);
    font-weight: bold;
    padding-right: 1rem;
}
.numbers{
    margin-left: 9.3rem;
    margin-right: 10rem;
    margin-top: 4rem;
}
.num{
    width: 25%;
    text-align: center;
}
.travelnum{
    float: left;
}
.placenum{
    float: left;
}
.guidenum{
    float: left;
}
.sportnum{
    float: left;
}
.num h3{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(216, 68, 68);
}
.num p{
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 0.5em;
}
.footerabout{
    margin-left: 9.3rem;
    margin-right: 10rem;
    margin-top: 4rem;
    padding: 1rem;
    background: linear-gradient(rgba(253, 0, 0, 0.774),rgba(252, 0, 0, 0.671));
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.507);
}
.footerdes p{
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
    padding-top: 1em;
    padding-left: 0.8em;
}
.footerdes{
    float: left;
}
.footerlink{
    float: right;
    border: 2px solid white;
    margin: 0.5em;

}
.footerlink a{
    font-size: 1.5rem;
    display: inline-block;
    padding: 0.35em 3rem;
    color: white;
    letter-spacing: 0.2em;
    text-decoration: none;
}
.contactsec{
    margin-left: 9.3rem;
    margin-right: 10rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.conlocation{
    float: left;
    width: 49%;
    background-color: rgba(255, 255, 255, 0.842);
}
.contactform{
    float: right;
    width: 49%;
    background-color: rgba(255, 255, 255, 0.849);
}
.con{
    margin-bottom: 1.2em;
}
.con h3{
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5em;
}
.picc{
    height: 26em;
}
.picc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.con p{
    font-size: 1.1rem;
    font-weight: 600;
}
.morecont h3{
    font-size: 1.8rem;
    letter-spacing: 0.15em;
    padding-bottom: 0.5em;
}
.morecont h3::after{
    content: "";
    display: block;
    margin-top: 0.2em;
    border: 2px solid rgb(216, 68, 68);
}
.morecont p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1em;
}
.formc form label{
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.3em;
    font-size: 1.2em;
}
.formc form input{
    display: inline-block;
    margin-bottom: 0.8em;
    width: 100%;
    border: 1.8px solid black;
}
.formc form textarea{
    display: inline-block;
    margin-bottom: 0.8em;
    width: 100%;
    border: 1.8px solid black;
}
.formc form input.submit{
    display: inline-block;
    margin-bottom: 0.8em;
    color: white;
    width: 30%;
    margin-left: 33%;
    border: 1px solid rgb(216, 68, 68);
    background: linear-gradient(rgb(253, 0, 0),rgba(252, 0, 0, 0.644));
    padding: 0.35em;
}
@media(max-width: 500px){
    .showcase{
        padding: 3rem 2rem;
    }
    .text-box{
        padding: 1rem;
    }
    .text-box h1{
        margin-bottom: 1rem;
    }
    .text-box p {
        letter-spacing: 0.1em;
        line-height: 1.5em;
        padding-bottom: 1rem;
    }
    .feature{
        margin: 3rem 2rem;
    }
    .tox{
        float: none;
        width: 100%;
    }
    .tox h2{
        padding-top: 1em;
    }
    .row1{
        margin-bottom: 3rem;
    }
    .navig2{
        padding: 3rem;
    }
    .contactsec {
        margin: 3rem;
    }
    .conlocation{
        float: none;
        width: 100%;
        margin-bottom: 5rem;
    }
    .contactform{
        float: none;
        width: 100%;
        margin-bottom: 3rem;
    }
    .mainheadabout {
        margin-left: 3.3rem;
        margin-right: 3rem;
        padding-bottom: 0.8rem;
        margin-top: 5rem;
    }
    .aboutdesc {
        margin-left: 3.3rem;
        margin-right: 3rem;
        margin-top: 0.8rem;
    }
    .aboutlist {
        margin-left: 3.3rem;
        margin-right: 3rem;
        margin-top: 1.5rem;
    }
    .numbers {
        margin-left: 3.3rem;
        margin-right: 3rem;
        margin-top: 4rem;
    }
}
@media (min-width: 501px) and (max-width: 900px){
    .showcase{
        padding: 6rem 5rem;
    }
    .text-box{
        padding: 2.8rem;
    }
    .text-box h1{
        margin-bottom: 1.5rem;
    }
    .text-box p {
        letter-spacing: 0.13em;
        line-height: 1.55em;
        padding-bottom: 1.2rem;
    }
    .feature{
        margin: 6rem 5rem;
    }
    .tox{
        float: none;
        width: 100%;
    }
    .tox h2{
        padding-top: 1em;
    }
    .row1{
        margin-bottom: 3rem;
    }
}
@media(min-width: 501px) and (max-width: 821px){
    .navig2{
        padding: 5rem;
    }
    .contactsec {
        margin: 5rem;
    }
    .conlocation{
        float: none;
        width: 100%;
        margin-bottom: 5rem;
    }
    .contactform{
        float: none;
        width: 100%;
        margin-bottom: 3rem;
    }
}